  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, body {
    font-family: 'Roboto', sans-serif;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}
  body {
    /* background: #E4E8F5; */
    background: #F7F9FF;
  }

  /* @media(min-width:1560px){
    .container {
      width: 100% !important;
    }
 } */
.fw-100{
  font-weight: 100;
}
.fw-200{
  font-weight: 200;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.fw-500{
  font-weight: 500;
}
.fw-600{
  font-weight: 600;
}
.fw-700{
  font-weight: 700;
}
.fw-800{
  font-weight: 800;
}
.fw-900{
  font-weight: 900;
}
.wbg-dark{
  background-color: #810100;
}
.wbg-light{
  background-color: #E4E8F5;
}
.txt-dark{
  color: #810100;
}
.txt-blue{
  color:#001C79;
}
.wbg-blue{
  background-color:#001C79;
}
.wbg-white{
  background-color: #fff;
}

.mt-n1 {
  margin-top: -4.25rem !important;
}
.bfs-1{
  font-size: 60px;
}
.lh-13{
line-height: 1.3em;
}
.mh-104{
 min-height:80px; 
}

.bg-blue {
  background: #001C79;
}

.wbg {
  background: #001C79;
}

.wbg-txt {
  color: #001C79;
}

.navbar-collapse {
  flex-basis: unset !important; 
  flex-grow: 0 !important;
  align-items: center;
}
.navbar{
  /* position: absolute; */
}
.head-container{
  /* margin-left: 70px; */
    position: absolute;
    width: 100% !important;
    /* margin-right: 70px; */
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 255 255);
}
.nav-link {
  color: rgb(255 255 255);
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    font-weight: 200;
    margin-left: 19px;
}
.nav-link:hover {
  color: rgb(255 255 255);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.8em;
  height: 1.8em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* background-color: red; */
}
ul.navbar-nav.mobile {
  flex-direction: column;
  text-align: justify;
  
}

.btn-close {
  background: white var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 1;
}
.btn-blue{
  border: 1px solid #001C79;
  background-color: #001C79;
  color:#fff;
  }
  .btn-blue:hover{
    border: 1px solid #001C79;
    background-color: #fff;
    color:#001C79;
}
.btn-border{
border: 1px solid #001C79;
}
.btn-border:hover{
  border: 1px solid #001C79;
  background-color: #001C79;
  color:#fff;
  }
.active{
  background-color: #001C79;
}

.active-menu {
  border-bottom: 3px solid #001C79;
}

.active-white{
  background-color: #fff;
  color:#001C79 !important;
}
/* jalal create end here */


a.active-menu.nav-link:focus {
  color: white;
}


.container {
  width: 1080px !important;
}

@media (max-width:767px) {
  .container {
    width: 100% !important;
  }

  .navbar-nav, .navbar-nav .nav-link.show {
    color: black;
  }
  .navbar-nav {
    color: black;
    margin: 0px;
  }
  .nav-link.active {
    color: white;
  }
  .nav-link {
    color: black;
      font-family: 'Poppins', sans-serif !important;
      font-size: 18px;
      font-weight: 200;
      margin-left: 0px;
      padding: 10px;
  }

  .nav-link:hover {
    color: black;
  }
}

.font11px {
  font-size:11px;
}

.font12px {
  font-size:12px;
}

.font13px {
  font-size:13px;
}

.font14px {
  font-size:14px;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* p,h1,h2,h3,h4,h5,h6 {
  font-family: ;
} */


i.bi.bi-chevron-down,
i.bi.bi-chevron-up {
  font-size: 12px;
}



.top {
  top: 90%!important;
}

/* all page banner heading */
.banner-text-container{
  background-color: #810100;

}



@media(max-width:767px){
  .banner-text-container{
    margin-top: 0px;
    width: 100%;
    font-size: 35px;
    margin-left: 0px;
   line-height: 40px;

  }
  .bfs-1 {
    font-size: 36px;
}
}

.banner-text-container-directors{
  background-color: #810100;
  margin-top: -70px;
  font-size: 50px;
  line-height: 60px;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: bold;
  width: 29%;
  display: inline-block;
  margin-left:55px;
}





@media(max-width:767px){
  .container-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}


/* membership page */
.membershiph3{
  color:#810100 ;
  size: 30px;

}

.membershippara{
  color:#810100 ;
  size: 18px;

}


/* Home page  */

/* Latest Highlights */

.latest-heighliht-img-home {
  margin-left: 90px;
  margin-top: -70px;
  z-index: 1;
}

.custom-commite-loop-post {
  margin-left: -80px !important;
}

/* .react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  justify-content: center;
} */

@media(max-width:767px) {
  .custom-commite-loop-post {
    margin-left: 0px !important;
    margin-top: -80px;
  }

  .custom-mobile-post {
    margin-top: 100px;
  }

  .latest-heighliht-img-home {
    margin-left: 0px;
    margin-top: 0pxs;
    z-index: 1;
  }
}

.modal-dialog {
  max-width: 80%; /* Set the max-width as needed */
  margin: 1.75rem auto; /* Adjust margin as needed */
}

.no-scroll {
  overflow: hidden;
}

.cusrsor-pointer {
  cursor: pointer;
}

.two-line-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Additional styles for appearance */
  max-width: 100%;
  margin: 0;
  padding: 0;
  min-height:36px;
}

/* Add ellipsis after truncated content */
.two-line-paragraph::after {
  content: '...';
  display: inline-block;
}

.btn-latest-news {
  background-color: #fff;
}


.your-custom-class {
  /* Your default styles here */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

/* Add styles when scrolled */
.your-custom-class.scrolled {
  background-color: YourNewColor;
  /* Add any other styles you want to apply when scrolled */
}

/* news archieve */

.news-hover:hover {
  background: #E4E8F5;
  /* color: white !important; */
}

.news-hover:hover a{
  /* color: white !important; */
}

.event-card:hover .event-button{
  background: #001CAA !important;
}


